{% extends 'base.html' %}
{% load static %}

{% block title %}Display Ranking{% endblock %}

{% block start %}
<h2>Ranking will display here of students</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ student.name }}</td>
            <td>{{ student.score }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>

{% endblock %}