{% extends 'base.html' %}
{% load static %}

{% block title %}CodeBuzz/Contact{% endblock %}

{% block start %}

<div>
    <img src="{% static 'core/src/contact.avif' %}" class="img-fluid rounded" alt="About Image"
        style="height: 250px; width: 100%; object-fit: fill;">
</div>
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-8">

            <h2 class="text-center display-5 fw-bold ">Contact Us</h2>

            <p class="text-center text-muted mb-5">
                Have questions, suggestions, or just want to say hello? Fill out the form below and we'll get back to
                you soon!
            </p>

            <form>
                <div class="mb-3">
                    <label for="name" class="form-label">Your Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter your full name">
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Your Email</label>
                    <input type="email" class="form-control" id="email" placeholder="you@example.com">
                </div>

                <div class="mb-3">
                    <label for="subject" class="form-label">Subject</label>
                    <input type="text" class="form-control" id="subject" placeholder="What is it about?">
                </div>

                <div class="mb-3">
                    <label for="message" class="form-label">Your Message</label>
                    <textarea class="form-control" id="message" rows="5"
                        placeholder="Type your message here..."></textarea>
                </div>

                <button type="submit" class="btn btn-primary w-100">Send Message</button>
            </form>

        </div>
    </div>
</div>
{% endblock %}