/* style.css */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* Optional: Footer styling */
footer {
    background-color: #222;
    color: white;
    padding: 20px 0;
    text-align: center;
}
